<div class="has-text-centered">
    <h1 class="is-size-1 mb-2 is-uppercase">Picture of the day</h1>
    <div class="has-text-left is-size-6 ml-6">
        <p class="date">Date: <%= data.date %></p>
    </div>
</div>

<div class="container has-text-centered sixty">
    <img src='<%= data.url %>' alt="picture-of-the-day" />
    <h2 class="is-size-2 mt-4"><span class="is-italic"><%= data.title %></span></h2>
    <div class="mt-4 pb-6">
        <p class="is-size-6 mt-4"><%= data.explanation %></p>
    </div>
</div>