<footer class="foot">
    <div class="content has-text-centered">
      <p class="is-light">
        <strong class="is-light">Mars</strong> Weather and Picture App with the sources and information from the <a href="https://api.nasa.gov">NASA API</a>
      </p>
    </div>
</footer>