<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/nasa.jpg" width="50" height="28" alt="https://fossbytes.com/wp-content/uploads/2015/11/nasa-jpg.jpg">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="/picture-of-the-day">
          Picture of the Day
        </a>
        <a class="navbar-item" href="/weather">
          Weather
        </a>

      </div>
    </div>
  </nav>