<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/icons/favicon-32x32.png"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="/main.css">
  <title>Mars API</title>
</head>
<body>

    <%- include("../partials/navbar") %>
    <%- body %>
    <div style="padding-bottom: 10vh;"></div>
    <%- include("../partials/footer") %>
    
</body>
</html>